.input-card {
  padding: 2.5rem;
  border-radius: 40px;
  width: 100%;
}

.input-card header {
  text-align: center;
}

.input-type-label {
  /* padding: 1rem; */
  display: inline-block;
  margin: 2rem 0 1rem;
}

.input-control {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* justify-content: center; */
  align-content: space-around;
  /* margin: 3rem auto; */
}

.input-card footer {
  padding-top: 2rem;
}
