.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 13px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
  }
}
