.input {
  appearance: none;
  width: 10rem;
  height: 3rem;
  text-align: center;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #61677c;
  text-shadow: 1px 1px 0 #fff;
  /* padding: 12px 40px; */
  outline: none;
  border: none;
  border-radius: 13px;
  box-shadow: inset 2px 2px 5px #d4d4d4, inset -5px -5px 10px #fff;
  transition: all 0.2s ease-in-out;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.input:focus {
  box-shadow: inset 1px 1px 2px #d4d4d4, inset -1px -1px 2px #fff;
}
